@model CreateQuestDto
@{
    ViewData["Title"] = "Soru/Cevap Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <label>Soru</label>
    <input type="text" placeholder="Soru" asp-for="Question" class="form-control" />
    <span asp-validation-for="Question" class="text-danger"></span>
    <br />

    <label>Cevap</label>
    <input type="text" placeholder="Cevap" asp-for="Answer" class="form-control" />
    <span asp-validation-for="Answer" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>

