<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Admin Paneli</li>
            <li>
                <a asp-controller="Banner" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-image"></i><span class="nav-text">Banner Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Contact" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-envelope"></i><span class="nav-text">İletişim Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Counter" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-calculator"></i><span class="nav-text">Ana Sayfa Sayaç Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Deal" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-minus-square"></i><span class="nav-text">Tekliflerimiz Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Feature" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-diamond"></i><span class="nav-text">Önce Çıkanlar Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Message" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-comments-o"></i><span class="nav-text">Gelen Mesajlar</span>
                </a>
            </li>
            <li>
                <a asp-controller="Product" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-building-o"></i><span class="nav-text">Mülk Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Question" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-question-circle"></i><span class="nav-text">Soru-Cevap Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Video" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-video-camera"></i><span class="nav-text">Video Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="SubHeader" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-hashtag"></i><span class="nav-text">ÜstBilgi Ayarları</span>
                </a>
            </li>
            <li>
                <a asp-controller="Default" asp-action="Index" aria-expanded="false">
                    <i class="fa fa-laptop"></i><span class="nav-text">Siteye Git</span>
                </a>
            </li>
        </ul>
    </div>
</div>