@model CreateContactDto
@{
    ViewData["Title"] = "İletişim Bilgisi Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <label>Harita Url</label>
    <input type="text" placeholder="Harita Url" asp-for="MapUrl" class="form-control" />
    <br />

    <label>Telefon</label>
    <input type="text" placeholder="Telefon No" asp-for="Phone" class="form-control" />
    <br />

    <label>Email</label>
    <input type="email" placeholder="Başlık" asp-for="Email" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>

