@model List<ResultBannerDto>

<div class="main-banner">
    @{
        int count = 0;
    }
    <div class="owl-carousel owl-banner">
        @foreach (var item in Model)
        {
            count++;
            <div class="item item-@count">
                <div class="header-text">
                    <span class="category">@item.City , <em>Türkiye</em></span>
                    <h2>@item.Title</h2>
                </div>
            </div>
        }
    </div>
</div>