@model CreateMessageDto
@{
    ViewData["Title"] = "Mesaj Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <label>Ad Soyad</label>
    <input type="text" placeholder="Ad Soyad" asp-for="Name" class="form-control" />
    <br />

    <label>Email</label>
    <input type="text" placeholder="Email" asp-for="Email" class="form-control" />
    <br />

    <label>Konu</label>
    <input type="text" placeholder="Konu" asp-for="Subject" class="form-control" />
    <br />

    <label>Mesaj</label>
    <textarea asp-for="MessageContent" class="form-control" rows="10"></textarea>
    <br />

    <button class="btn btn-outline-success">Kaydet</button>
</form>


