@model UpdateVideoDto
@{
    ViewData["Title"] = "Video Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id"/>
    <label>Video Url</label>
    <input type="text" placeholder="Video Url" asp-for="VideoUrl" class="form-control" />
    <br />

    <button class="btn btn-outline-success">Güncelle</button>
</form>

