@model CreateBannerDto
@{
    ViewData["Title"] = "Banner Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Resim Url</label>
    <input type="text" placeholder="Resim Url" asp-for="ImageUrl" class="form-control" />
    <br />

    <label>Şehir</label>
    <input type="text" placeholder="Şehir" asp-for="City" class="form-control" />
    <br />

    <label>Başlık</label>
    <input type="text" placeholder="Başlık" asp-for="Title" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>

